{% extends "iniita/base.html" %} {% block content %}
<div class="container">
    <a href="/iniita/create">Create</a>
    <div class="center">
        <h1>New</h1>
        <br> {% if cards %} {% for card in cards %}
        <div class="panel panel-default">
            <a href="{% url 'detail' card.id %}">{{ card.title }}</a>
            <div class="panel-body">
                {{ card.content | linebreaksbr }}
            </div>
        </div>
        {% endfor %} {% else %}
        <p>No card.</p>
        {% endif %}
    </div>
</div>
<!-- /.container -->
{% endblock %}